(
    master_volume: 1.0,
    music_volume: 0.2,
    ui_sfx_volume: 0.9,
    world_sfx_volume: 0.95,
    voice_volume: 1.0,
    dialogue_speed: 1.0,
    ui_scale_auto: true,
    manual_ui_scale: 1.0,
    cursor_motion: true,
    ui_fx: true,
    ui_monitor_distortion: true,
    ui_cursor_distortion: true,
)