({
    "levels.exterior": File(path: "maps/exterior.map#Scene"),
    "levels.hallway": File(path: "maps/hallway.map#Scene"),
    "models": Files(paths: [
        "models/npc_a/npc_a.gltf",
        "models/rat_toy/rat_toy.gltf",
        "models/plant/plant.gltf",
        "models/tree_a/tree_a.gltf",
        "models/mailbox/mailbox.gltf",
        "models/tree_a/tree_a.gltf",
        "models/tree_b/tree_b.gltf",
        "models/telephone_pole/telephone_pole.gltf",
        "models/cigarettes/cigarettes.gltf",
        "models/couch/couch.gltf",
        "models/table/table.gltf",
        "models/phone/phone.gltf",
    ]),
    "audio": Files(paths: [
        "audio/radio_static.ogg",
        "audio/hum.ogg",
        "audio/phone.ogg",
        "audio/door_open.ogg",
        "audio/door_locked.ogg",
        "audio/door_close.ogg",
    ]),
    "ratspinner.scripts": Files(paths: ["ratspinner/npc.default.rat"]),
    "font.pixel": File(path: "fonts/PressStart2P-Regular.ttf"),
    "font.body": File(path: "fonts/VT323-Regular.ttf"),
    "image.cursor": File(path: "icons/cursor.png"),
    "image.cursor-closed": File(path: "icons/cursor-closed.png"),
})
