({
    "levels.exterior": File(path: "maps/exterior.map#Scene"),
    "levels.hallway": File(path: "maps/hallway.map#Scene"),
    "models": Files(paths: [
        "models/npc_a/npc_a.gltf",
        "models/rat_toy/rat_toy.gltf",
        "models/plant/plant.gltf",
        "models/tree_a/tree_a.gltf",
        "models/mailbox/mailbox.gltf",
        "models/tree_a/tree_a.gltf",
        "models/tree_b/tree_b.gltf",
        "models/telephone_pole/telephone_pole.gltf",
        "models/cigarettes/cigarettes.gltf",
        "models/couch/couch.gltf",
        "models/table/table.gltf",
        "models/phone/phone.gltf",
        "models/photograph/photograph.gltf",
        "models/key/key.gltf",
        "models/strange_books/strange_books.gltf",
    ]),
    "audio": Files(paths: [
        "audio/radio_static.ogg",
        "audio/hum.ogg",
        "audio/phone.ogg",
        "audio/door_open.ogg",
        "audio/door_locked.ogg",
        "audio/door_close.ogg",
    ]),
    "ratspinner.scripts": Files(paths: [
        "ratspinner/npc.default.rat",
        "ratspinner/npc.human.rat",
        "ratspinner/npc.dunce.rat",
        "ratspinner/npc.lover.rat",
    ]),
    "font.pixel": File(path: "fonts/PressStart2P-Regular.ttf"),
    "font.body": File(path: "fonts/VT323-Regular.ttf"),
    "image.cursor": Image(path: "icons/cursor.png"),
    "image.cursor-closed": Image(path: "icons/cursor-closed.png"),
    "items": Files(paths: [
        "items/apartment_key.item.meta",
        "items/cd.item.meta",
        "items/certification.item.meta",
        "items/cigarettes.item.meta",
        "items/diorama.item.meta",
        "items/necklace.item.meta",
        "items/noise_complaint.item.meta",
        "items/office_key.item.meta",
        "items/photograph.item.meta",
        "items/rat_toy.item.meta",
        "items/strange_books.item.meta",
    ]),
})
